@import "main.css";

// Custom Colors
$primary: #5C5757;;
$secondary:#f2b9a8;
$success: #9baf89;
$warning: #f3be7c;
$danger: #ef907c;
// $primary: #667685;

// Bootstrap 
@import "../../node_modules/bootstrap/scss/bootstrap";
