@import "main.css";

// Custom Colors
$primary: #667685;
$secondary:#f2b9a8;
$success: #9baf89;
$warning: #f3be7c;
$danger: #ef907c;
$prime-light: #768896;
$second-light:#f2b9a8;

// Bootstrap 
@import "../../node_modules/bootstrap/scss/bootstrap";
